@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #000000;
}
html[data-theme="light"] {
--bg: white;
--text: #1f2937;
}
html[data-theme="dark"] {
  --bg: #2a303c;
  --text:#a0a7b5;
}
html {
  background: var(--bg) !important;
  color: var(--text) !important;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}