@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #000000;
}
html[data-theme="light"] {
--bg: white;
--text: #1f2937;
}
html[data-theme="dark"] {
  --bg: #2a303c;
  --text:#a0a7b5;
}
html {
  background: var(--bg) !important;
  color: var(--text) !important;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

html[data-theme='dark'] header {
  background-color: #282d39;
  border-bottom: #414a5e;
}
html[data-theme='dark'] header button{
  background-color: #1a1a1a;
  /* border-bottom: #414a5e; */
  border-color: #282d39;
}
html[data-theme='light'] header button{
  background-color: #edf0f7;
  /* border-bottom: #414a5e; */
  border-color: #dee3ee;
}

html[data-theme='dark'] header button:hover {
  background-color: #282d39 !important;
  border-color: #1a1a1a;
}

html[data-theme='dark'] #dropdown > div {
  background-color: #282d39 !important;
}
html[data-theme='dark'] #dropdown > div:hover {
  background-color: #222630 !important;
}

html[data-theme='light'] #dropdown > div {
  background-color: #edf0f7 !important;
}
html[data-theme='light'] #dropdown > div:hover {
  background-color: #dee3ee !important;
}